header {
  text-align: center;
}
h1 {
  text-align: center;
}
header {
  padding: 30px;
}
main {
  text-align: center;
}
footer {
  text-align: center;
}
footer span {
  margin-right: 50px;
  width: 200px;
  display: inline-block;
}
